/* .slick-arrow.slick-prev::before {
	content: url('../assets/arrow-l.png');
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
}

slick-prev {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--purple);
	top: inherit;
	bottom: -65px;
	left: 39%;
} */
